/* HOME */
#home {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-bar {
  background-color: transparent;
  color: white;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
#home-logo {
  letter-spacing: 0.5rem;
  width: 13%;
}
#home-bar-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 80%;
}
#home-bar-profil {
  display: flex;
  justify-content: center;
  width: 13%;
}
#home-bar nav {
  display: flex;
  width: 87%;
}
#home-welcome {
  background: rgba(0, 0, 0, 0.3);
  height: 30%;
  width: 100%;
}
#home-bar-menu li:nth-child(1) {
}
#home-bar-menu li:nth-child(2) i {
  color: rgba(240, 0, 212, 1);
}
#home-bar-menu li:nth-child(3) i {
  color: rgba(29, 130, 253, 1);
}

#home-subscribe {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
}

#home-subscribe button:nth-child(1) {
  background: #f000d4;
  background: linear-gradient(
    162deg,
    rgba(240, 0, 212, 1) 0%,
    rgba(29, 130, 253, 1) 50%,
    rgba(72, 69, 252, 1) 100%
  );
  padding: 0.3rem 2rem;
  border-radius: 1.1rem;
  color: white;
}
#home-subscribe button:nth-child(2) {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.3rem 2rem; 
  border-radius: 1.1rem;
  color: white;
}
#home-stats {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  padding: .5rem;
  margin-top: 2rem;

}
